#d3plus_tooltip_id_visualization_focus {
  display: none;
}

#d3plus {
    padding-top: 60px;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}
